name: beta.yml

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]


jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: '12.0'
    - uses: xavierLowmiller/xcodegen-action@1.0.0
    - name: Install Pods
      run: |
        bundle update --bundler
        pod install
    - name: Install ImagePick
      run: |
        brew install imagemagick
    - name: build iOS App
      
#     - uses: maierj/fastlane-action@v1.4.0
      env: 
          APPLE_ACCOUNT: ${{ secrets.APPLE_ACCOUNT }}
          MATCH_REPO: ${{ secrets.MATCH_REPO }}
          MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
      run: |
        fastlane --version

#       with:
#          lane: 'beta'

