name: beta.yml

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - name: Xcodegen Generate
      run: |
        brew install xcodegen
        xcodegen --spec project.yml
    - name: Install Pods
      run: |
        pod install
    - uses: maierj/fastlane-action@v1.4.0
      with:
         lane: 'beta'

