name: release.yml

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: '12.0'
    - uses: xavierLowmiller/xcodegen-action@1.0.0
    - name: Install Pods
      run: |
        bundle update --bundler
        pod install
#     - name: Install ImagePick
#       run: |
#         brew install imagemagick
#     - uses: maierj/fastlane-action@v1.4.0
      - name: fastlane build
      env: 
          APPLE_ACCOUNT: ${{ secrets.APPLE_ACCOUNT }}
          MATCH_REPO: ${{ secrets.MATCH_REPO }}
          MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          FIREBASE_APP_ID: ${{ secrets.FIREBASE_APP_ID }}
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
      run: |
        gem install fastlane
        fastlane ios release --verbose

